

*.exe
*.lib
*.dll
*.ipch
*.opendb
*.opensdf
*.exe.recipe
*.log
*ipdb
*.pdb
*.vsidx
*.db
*.db-shm

.vs
.x64
.Dependencies/assimp/
.x64/Debug/assimp-vc143-mt.dll
.x64/Release/assimp-vc143-mt.dll
.Dependencies/assimp/lib/assimp-vc143-mt.lib